<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body 
        {
            text-align: center;
            background-color: darkslategrey;
            font-size: xx-large;
        }
        h1
        {
            font-size: larger;
            color: black;
            font-family: bold;
        }
        h4
        {
            font-size: large;
            color:maroon;
        }
    </style>

    <title>CHAMPIONS TROPHY</title>
</head>
<body>
    <h1>INDIA WON BY 5 RUNS</h1>
    <h4>MOM:RAVINDRA JADEJA</h4>
</body>
</html>