<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body 
        {
            text-align: center;
            background-color: darkviolet;
            font-size: xx-large;
        }
        h1
        {
            font-size: larger;
            color: black;
            font-family: bold;
        }
        h4
        {
            font-size: large;
            color: cyan;
        }
    </style>
    <title>WORLD CUP11</title>
</head>
<body>
    <h1>INDIA WON BY 6 WICKETS</h1>
    <h4>MOM:MAHENDRA SINGH DHONI</h4>
</body>
</html>